<?xml version="1.0"?>
<config>
    <modules>
        <SoftCube_Integration>
            <version>1.0.0</version>
        </SoftCube_Integration>
    </modules>
    <global>
        <helpers>
            <softcube_integration>
                <class>SoftCube_Integration_Helper</class>
            </softcube_integration>
        </helpers>
        <blocks>
            <softcube_integration>
                <class>SoftCube_Integration_Block</class>
            </softcube_integration>
        </blocks>
        <models>
            <softcube_integration>
                <class>SoftCube_Integration_Model</class>
            </softcube_integration>
        </models>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <SoftCube_Integration before="Mage_Adminhtml">SoftCube_Integration_Adminhtml</SoftCube_Integration>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <layout>
            <updates>
                <softcube_integration>
                    <file>softcube/integration.xml</file>
                </softcube_integration>
            </updates>
        </layout>
    </frontend>
    <default>
        <softcube>
            <general>
                <api_key>bfc5c21c3210be3db8036ca3ffa765e1</api_key>
            </general>
        </softcube>
    </default>
</config>